@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/2.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents repetition of the image */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
    background-position: center; /* Centers the image */
    margin: 0; /* Removes default margin from the body */
  }